{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{% block title %}Hausrunde{% endblock %}</title>
<meta name="csrf-token" content="{{ csrf_token }}" />


<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>


{% block head_extra %}{% endblock %}
</head>
<body>
{% include 'partials/_nav.html' %}
<main class="container">
{% block content %}{% endblock %}
</main>


<script>
window.APP = {
isAuth: {{ request.user.is_authenticated|yesno:'true,false' }},
userName: '{{ request.user.username|default:''|escapejs }}'
};
</script>
{% block scripts %}{% endblock %}
</body>
</html>